{% block title %} チャットページ {% endblock %} {% block content %}


<!-- is_displayed がTrueの場合のみ表示する -->
{% if is_cooperation_established_for_team %}
<p>共同キャンペーンが成立しました。<br>
  お互いが支払うキャンペーン費用を話し合って決めてください。<br>
  キャンペーン費用の選択肢：16～36の偶数
</p>
<!-- チャットボックス -->
<div
  id="chat-log"
  style="
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    white-space: pre-wrap;
  "
>
  {{ chat_log }}
</div>

<!-- メッセージ送信用 -->
<input
  id="chat-input"
  type="text"
  placeholder="メッセージを入力..."
  style="width: 80%"
/>
<button type="button" id="send-btn">送信</button>
{% else %}
<!-- 協力されなかった場合の画面表示 -->
<p>あなたは単独でキャンペーンを行います。<br>
  あなたが支払うキャンペーン費用を決めてください。<br>
  キャンペーン費用の選択肢：16～36の偶数
</p>
{% endif %}
<hr />

<form method="post">
  {{ formfields }}
  <!-- 次へボタンを削除または非表示に -->
  <style>
    button[type="submit"] {
      display: none;
    }
  </style>
</form>


<hr>
<p style="font-size: 14px; margin-top: 20px;">
  <strong>儲け</strong> = 宿泊客数 × 宿泊料 − キャンペーン費用<br>
  <strong>あなたの温泉街に訪れるお客の割合</strong> = <span>あなたの温泉街の合計キャンペーン費用</span> / <span>２つの温泉街の合計キャンペーン費用</span><br>
  <strong>あなたの温泉街に訪れるお客数</strong> = 36 × あなたの温泉街に来る割合<br>
  <strong>宿泊料</strong> = あなたの温泉街に訪れるお客数　- あなたの温泉街の合計宿泊サービス数<br>
  ※ 宿泊料またはあなたの温泉街の合計宿泊数が0以下になった場合、それらの値は自動的に<strong>0</strong>になります。
</p>




<script>
  const chatBox = document.getElementById("chat-log");
  const input = document.getElementById("chat-input");
  const sendBtn = document.getElementById("send-btn");

  sendBtn.addEventListener("click", () => {
    const message = input.value;
    if (message) {
      liveSend(message);
      input.value = "";
    }
  });

  //   チャットメッセージを受信する関数;
  function liveRecv(message) {
    console.log("Received message:", message);
    chatBox.textContent += (chatBox.textContent ? "\n" : "") + message;
    chatBox.scrollTop = chatBox.scrollHeight;
  }
</script>
{% endblock %}






